<!DOCTYPE html>
<html>

<head>
  <title>Instagram</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render  "shared/navbar" %>
  <div class="columns">
    <div class="column is-1">
    </div>
    <div class="column">
      <%= yield %>
    </div>
    <div class="column is-1">
    </div>
  </div>
</body>

</html>